github.com/go-sql-driver/mysql
github.com/gorilla/mux
github.com/joho/godotenv
github.com/rs/cors
github.com/sirupsen/logrus
github.com/unrolled/secure
github.com/dgrijalva/jwt-go
github.com/t-tomalak/logrus-easy-formatter
github.com/x-cray/logrus-prefixed-formatter
github.com/gorilla/handlers
github.com/gorilla/schema
github.com/satori/go.uuid
golang.org/x/time/rate
github.com/pquerna/ffjson/ffjson
github.com/google/pprof
github.com/gomodule/redigo/redis